/*
Theme Name: Poe Portfolio Child
Theme URI: 
Author: Eagle Communications
Author URI: 
Description: Plug-and-play minimalist solution
Requires at least: 6.9
Tested up to: 6.9
Requires PHP: 5.7
Version: 
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: poe
Text Domain: poe-portfolio-child
Tags: 
*/

